body{
    width: 100%;
    margin: 0 0;
}
#header{
    background: #262626;
    width: 100%;
    height: 40px;
    color: white;
    font-size: 13px;
    text-align: left;
    margin-left: 0px;
    margin-right: 0px;
}
a#collection{
    float: left;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}
a#focus{
    float: left;
    margin-left: 20px;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}
#header a:link{
    color:#D4D4D4;
    text-decoration: none;
}
#header a:visited{
    color: #D4D4D4;
    text-decoration: none;
}
#welcome{
    color: #D4D4D4;
    float: right;
    margin-top: auto;
    margin-bottom: auto;
}
#header_right{
    float: right;
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}
#login{
    margin-left: 10px;
}
div#header_right a{
    float: right;
}
.vertical{
    margin-left: 5px;
    margin-right: 5px;
    float: right;
    padding-top: 2px;
    padding-bottom: 2px;
}
.prize_list{
    margin-right: 15px;
}