#container{
	width: 100%;
	height: 100%;
	height: auto;
}
#top{
	width: 100%;
	height: auto;
	text-align: center;
}
#main{
	width: 100%;
	height: auto;
}
#bottom{
	width: 80%;
	height: auto;
	text-align: center;
}
#left{
	width: 10%;
	height: 100px;
	float: left;
}
#center{
	width: 80%;
	height: 100px;
	float: left;
}
#right{
	width: 10%;
	height: 100px;
	float: left;
}
#header{
	width: 80%;
	height: 250px;
}
#btn_test{
	width: 80px;
	height: 50px;
	background: green;
	color: white;
	font-size: 20px;
	margin-top: 50px;
}
.site-header{
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}